extends ./layouts/bootstrap.jade

block body
    .container

        include ./components/nav2.html

        .busStops(ng-controller="StopsCtrl") Linie
            ul
                li(ng-repeat="x in lines") linia: <b>{{ x.name }} </b>

                    .godziny {{ x.departures }}
                    .czasy {{ x.dTimes }}


                    table.table.table-bordered
                        thead
                            tr
                                th przystanek
                                th godzina

                        tr(ng-repeat="y in x.stops")
                            td {{ y.name }}
                            td(ng-repeat="z in x.dTimes") {{ [z] }}


