extends ./layouts/bootstrap.jade

block body
    .container

        include ./components/nav2.html

        .busStops(ng-controller="StopsCtrl") Linie
            ul
                li(ng-repeat="x in lines") linia: <b>{{ x.name }} </b>
                    ul
                        li(ng-repeat="y in x.stops") {{ y.name }}

