h2 Linie

.row(ng-controller="LinesController")

    .lines(ng-repeat="item in lines")
        h3 {{ item.line }}
        .col-lg-12(ng-repeat="x in item.destination")
            .col-lg-12 Cel: {{ x.destinationName }}
            .col-lg-12 Przystanki {{ x.busStops }}
            .col-lg-12 Odjazdy {{ x.departure }}
