extends ./layouts/bootstrap.jade

block body
    .container
        include ./components/nav.html
        .row
            .col-md-3
            .col-md-6

                include ./components/form.jade

            .col-md-3
