.container
    .row(ng-controller="planningController")

        h2 Zaplanuj podróż
            form
                .form-horizontal
                    .control-group
                        label.control-label(for='dp1') Wybierz dzień
                        .controls
                            .input-group
                                input.date-picker.form-control(
                                id='dp1'
                                type='text'
                                )
                                label.input-group-addon.btn(for='dp1')
                                    span.glyphicon.glyphicon-calendar

                .form-group
                    label Przystanek2
                    select.form-control(
                    name='busstop'
                    )
                        option(ng-repeat="line in planning") {{ line.name }}




