    <div class="container-fluid text-center">
    <div ng-app="ngrepeatSelect" class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle"
                     src="../../foto/feature-hand-600.jpg"
                     alt="Generic placeholder image" width="240" height="240">

                <div ng-controller="MainCtrl">
                    filter id by: <input ng-model="q">
                    <ul>
                        <li ng-repeat="item in myList | filter: {content: {id: q}}">
                            {{item}}
                        </li>
                    </ul>
                </div>

                <div class="bus1"><h2>Wybierz przystanek</h2></div>
                <p>Wybierz ulubione przystanki i śledź rozkłady jazdy.</p>
                <!--<p><a class="btn btn-default" href="#" role="button">Wybierz &raquo;</a></p>-->

                <div ng-controller="ExampleController">
                    <form name="myForm">
                        <label for="repeatSelect"> Wybierz przystanek: </label>
                        <select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
                            <option ng-repeat="option in data.availableOptions" value="{{option.busNumber}}">{{option.name}}
                            </option>
                        </select>


                    </form>
                                        <hr>
                    <tt> </tt><br/>

                    <table class="table table-striped">
                        <tr>
                            <td> {{data.repeatSelect}}</td>
                            <td>Kierunek</td>
                            <td>godziny</td>
                        </tr>

                        <tr>
                            <td> {{data.repeatSelect}}</td>
                            <td>Kierunek</td>
                            <td>godziny</td>
                        </tr>
                        <tr>
                            <td> {{data.repeatSelect}}</td>
                            <td>Kierunek</td>
                            <td>godziny</td>
                        </tr>

                    </table>
                </div>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle"
                     src="../../foto/feature-chair-600.jpg"
                     alt="Generic placeholder image" width="240" height="240">

                <div class="bus1"><h2>Spóźniony autobs</h2></div>
                <p>Sprawdź czy Twój autobus odejdzie punktualnie. </p>

                <p><a class="btn btn-default" href="#" role="button">Opóźnienia &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle"
                     src="../../foto/feature-people-600.jpg"
                     alt="Generic placeholder image" width="240" height="240">

                <h2>Twoja podróż</h2>

                <p>Zaplanuj swoją podróż. </p>

                <p><a class="btn btn-default" href="#" role="button">Twoja podróż. &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>-->
<!-- Main script -->
<script src="../src/js/main.js"></script>
<script src="../src/js/fb.js"></script>