@import "vars.sass";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";

.img-circle {
  height: 250px;
  width: 250px;
  margin: 3px auto;
  border: 2px solid #a21716;
  background-color: #a21716;
  border-radius: 50%;
}
.container .marketing {
  margin-top: 40px;
  margin-bottom: 40px;
}

.lista {
  margin: 10px;
  border-bottom: 1px solid darkgray;
}

.godziny {
  span {
    display: inline;
  }
}
footer {
  margin-top: 20px;
  color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: dimgray;
}
