@import "vars.sass";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";

.btn-danger {
  background: #000;
  width: 3000px/2;
}


.navbar-default {

  background-color: #00b3ee;
}
